.wrapper {
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    position: relative;
    padding-bottom: 60px;
}

.gradientFill {
    height: 10px;
    background-image: linear-gradient(20deg, #02f4d0, #8f02f4);
    box-shadow: 0px -11px 78px -7px rgba(0,0,0,0.75);
}

.title {
    display: block;
    padding-top: 70px;
    text-align: center;
    z-index: 10;
    color: #f5f5f5;
}

.linkLogo {
    box-shadow: none;
    text-decoration: none;
    color: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(20deg, #02f4d0, #8f02f4);
    box-shadow: 0px -5px 25px -10px rgba(0,0,0,0.75);
    width: 100%;
    height: 60px;
    margin-top: 50px;
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

[data-theme='game-dev'] .gradientFill,
[data-theme='game-dev'] .footer {
    background-image: linear-gradient(20deg, #f4b102, #fb50b0);
}

[data-theme='dev'] .gradientFill,
[data-theme='dev'] .footer {
    background-image: linear-gradient(20deg, #02f4d0, #8f02f4);
}

[data-theme='other'] .gradientFill,
[data-theme='other'] .footer {
    background-image: linear-gradient(20deg, #d2f402, #02f48c);
}
