.postDate {
    text-align: center;
    margin-bottom: 45px;
}

.blogNavButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.container {
    margin: 50px auto 0;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 720px;
}

.title {
    text-align: center;
}
